<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <title>Haber Ekle</title>
</head>
<body>
<header>
    <div th:insert="~{fragments/navbar}"/>
    <div th:insert="~{fragments/editor}"/>
</header>
<div id="container" style="margin-top: 65px">
    <h3 style="text-align: center">Haber Ekle</h3>
    <form th:action="@{/home/add-news-process}" method="post" th:object="${news}" enctype="multipart/form-data">
        <div>
            <div class="mb-3">
                <input type="text" th:field="*{title}" class="form-control" placeholder="Başlık Giriniz">
            </div>
            <div class="mb-3">
                <label class="form-label">İçeriğinizi giriniz:</label>
                <textarea type="text" id="editor" th:field="*{contents}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Fotoğraf yükle: </label>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Ekle</button>
    </form>
</div>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>