<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div th:insert="~{fragments/navbar}"/>
    </header>
    <div sec:authorize="isAuthenticated()">
        <div class="d-flex justify-content-center" style="margin: 25px">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori Seç
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" type="button" th:href="@{/home/index}">Hepsi</a></li>
                    <div th:each="category : ${categoryList}">
                        <li><a class="dropdown-item" type="button" th:href="@{/news/category-news/{categoryId}(categoryId=${category.id})}" th:text="${category.getCategoryName()}"></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:each="categorynews : ${categoryNewsList}">
            <div style="margin: 25px auto; max-width: 540px;">
                <a th:href="@{/news/news-content/{newsId}(newsId=${categorynews.news.getId()})}" style="text-decoration: none; color: inherit;">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{${categorynews.news.getPhotosImagePath()}}" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 th:text="${categorynews.category.getCategoryName()}" class="card-title"></h5>
                                <p th:text="${categorynews.news.getTitle()}" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <div th:each="categorynews : ${categoryNewsList}">
            <div style="margin: 25px auto; max-width: 540px;">
                <a th:href="@{/templates/login}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC4BhzbgckL9REn4XvFLs9TrmvuijFow0_v89H-5lX1Fj6xS5s55eriP24d4LyWmazKAg&usqp=CAU" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 th:text="${categorynews.category.getCategoryName()}" class="card-title"></h5>
                                    <p th:text="${categorynews.news.getTitle()}" class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>