<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



</head>
<body>
<header>
    <div class="nav container">
        <a href="index.html" class="logo">An <span>Project</span></a>
        <a th:href="@{/login}" class="Login">Login</a>
    </div>
</header>

<section class="post-header">
    <div class="header-content post-container">
        <a href="index.html" class="back-home"> Geri dön</a>
        <h2 class="header-title">HAKOYU YEDİM</h2>

    </div>

</section>






<section class="post-content post-container">
    <h2 class="sub-heading">Çok iyi sayfa</h2>
    <p class="post-text">dhfgsgsagsagsda</p>
    <p class="post-text">dhfgsgsagsdfdsagsda</p>
    <h2 class="sub-heading">Çok iyi sayfa</h2>
    <p class="post-text">dhfgsgsagsagsda</p>
    <p class="post-text">dhfgsgsagsdfdsagsda</p>
</section>

<div class="footer container">
    <p>&#169; HAKOYU FRONTTA YEDİM</p>
    <div class="social">
        <a href="#"> <i class="bx bxfacebppl"></i></a>
        <a href="#"> <i class="bx bxfacebppl"></i></a>
        <a href="#"> <i class="bx bxfacebppl"></i></a>


    </div>

</div>


<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script src="javascript/main.js"></script>



</body>
</html>